@media screen and (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 15px;
        color: #dedede;
    }

    .navigation a:hover {
        color: #007bff;
        border-top: 2px solid #333;
    }

}