@media screen and (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    a:hover {
        border-top: 2px solid #333;
    }

    .container {
        padding-top: 25px;
        padding-bottom: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    figure {
        margin: 0;
    }

    img {
        width: 100%;
        height: auto;
    }
}